*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(32, 54, 171);
    height: 70px;
    position: relative;
}

header nav ul li a{
    color: rgb(151, 106, 197) !important;
}

nav section img{
    position: absolute;
    top: 6px;
    left: 35px;
    width: 60px;
    border-radius: 50%;
}
footer{
    height: 105px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    background-color: rgb(32, 54, 171);
}
footer  img{
    width: 100px;
    height: 100px;
}
footer ul li{
    list-style: none;
}
footer img{
    border-radius: 50%;
}
footer a{
    color: rgb(151, 106, 197) !important;
}
#slideshow{
    display: flex;
    justify-content: center;
    padding: 20px;

}
#slideshow img{
    border-radius: 9px;
    height: 80vh;
}
main{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
#video{
    display: flex;
    justify-content: center;
    gap: 40px;
}
#video video{
    border-radius: 10px;
    display: inline;
}
#video img{
    display: none;
}
